server:
  port: 8093

spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driverClassName: org.h2.Driver

  jpa:
    database-platform: H2
    show-sql: true
    hibernate.ddl-auto: create-drop

  h2.console.enabled: true
